// Declaración de variables LESS
@color-grey: #444;
@disabled-color: #999;

// Declaración de variables CSS
:root {
  /* --spinner-fore-color: inherit; */
  --universal-border-radius: 5px;
  --main-color: @main-color;
  --second-color: @second-color; 

  --effect-transform-hover: scale(1.2);
  --color-red: #f00;
  --border-radius: 5px;
}
* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  height: 100vh;
  overflow: hidden;
}
.principal{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;

}